/* Colors
Yellow #F8D852
Browns #311814
Darker Brown #2E1412
Burnt Orange #853822
Lighter #CB722E
 ------ */


* {
    text-align: center;
}

body {
    margin: 0%;
}


ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSIDH5hg_WLV4g-2E6yrT59SfFAG9v0Z9pTA&s);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    min-height: 700px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h2,
.hero p {
    color: #000;
    font-size: 3rem;
    text-shadow: 2px 2px 6px #fff;
    text-align: center;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: purple;
    font-size: 1.3em;
}

.main-nav a:hover {
    color: #2E1412;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid ;
    background-color: #f8d852;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 3;
}

img {
    max-height: 250px;
    filter: saturate(.1);
    transition: 1s;
}

.container2:hover img,
.container3:hover img, 
.container4:hover img,
.container5:hover img,
.container6:hover img,
.container7:hover img,
.container9:hover img {
    filter: saturate(2);
}

.container1 p,
.container2 p,
.container3 p,
.container4 p,
.container5 p, 
.container6 p,
.container7 p,
.container8 p,
.container9 p {
    color: purple;
    font-size: 20px;
}

.container1 h2,
.container2 h2,
.container3 h2,
.container4 h2,
.container5 h2,
.container6 h2,
.container7 h2,
.container8 h2,
.container9 h2  {
    color: purple;
    font-size: 25px;
}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7,
.container8,
.container9 {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid ;
    border-color: purple;
    background-color: #f8d852;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.container1:hover,
.container2:hover,
.container3:hover,
.container4:hover,
.container5:hover,
.container7:hover,
.container8:hover,
.container9:hover {
    box-shadow: 7px 7px 7px 7px rgba(0,0,0, 0.35);
    z-index: 2;
  }

  .container6:hover,
  .container9:hover {
    box-shadow: -7px 0px 7px rgba(0,0,0, 0.45);
    z-index: 2;
  }

  


/*=================================
            CSS GRID RULES
=================================*/
.container {
    display: grid;
}


/*-------------Tablet Media Query---------*/
@media screen and (min-width: 769px) {

    .header, 
    .main-nav {
        display: flex;
        justify-content: space-between;
    }

    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0% auto;
            max-width: 1150px;
        }

        .container {
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: minmax(100px, auto);
        }

        .container1 {
            grid-column: 1/5;
        }
    
        .container2 {
            grid-column: 1/5;
        }
    
        .container3 {
            grid-column: 1/5;
        }
    
        .container4 {
            grid-column: 1/5;
        }
    
        .container5 {
            grid-column: 1/5;
        }
    }

}
/*-------------End of Tablet Media Query---------*/

/*------------- Large Display Media Query---------*/
@media screen and (min-width: 1025px) {

    .header {
        flex-direction: row;
        justify-content: space-between;
        margin: 0% auto;
    }

    .container {
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
    }

    .container1 {
        grid-column: 1/6;
    }

    .container2 {
        grid-column: 1/2;
    }

    .container3 {
        grid-column: 2/3;
    }

    .container4 {
        grid-column: 3/4;
    }

    .container5 {
        grid-column: 4/5;
    }

    .container6 {
        grid-column: 5/6;
    }

    .container7 {
        grid-column: 1/3;
    }

    .container8 {
        grid-column: 3/4;
    }

    .container9 {
        grid-column: 4/6;
    }

}
/*------------- End of Large Display Media Query ------------*/

footer {
    margin-top: 0;
    background-color: #f8d852;
    color: purple;
    height: 25px;
}